<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Archivo</title>	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="resources/css/Elements/core.css">
	<link rel="stylesheet" type="text/css" href="resources/css/Elements/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/Elements/style.css">	

	
	
</head>

<body class="inner_page widgets">
    <%- include('./menu') %>
	<div class="mobile-menu-overlay"></div>
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="title">
								<h4>Cards Hover</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Mis proyectos</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>	
				<div class="pd-20 card-box mb-30">
				<!-- Slide Bottom effect -->
				<h5 class="h4 text-blue mb-10">Lista de archivos</h5>
				
				

				<p class="mb-30"></p>
				<div class="row clearfix">
					<% url.forEach(function(proyecto) { %>
						
<iframe src="<%= proyecto %>" style="width:40%; height:300px;" frameborder="0" ></iframe>

<% }); %>

					<!--hh -->
					<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
						
					
					</div>
					
					<!-- -->
				</div>
			</div>
			
		</div>
	</div>
	<!-- js -->

    <script src="js/core.js"></script>
	<script src="js/script.min.js"></script>
	<script src="js/process.js"></script>
	<script src="js/layout-settings.js"></script>
    
</body>
</html>