<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <em>variant : <%= tipeof nombre !='undefinied' ? nombre: 'default'%></em>
    <h2><%= nombre%></h2>
    <% if(nombre=='daniel'){%>
        <p>si</p>
    <%}%>
    <ul>
        <% array.forEach(function(persona) { %>
            <li>
                <strong><%= persona.nombre %></strong>
                 <%= persona.edad %>
            </li>
        <% }); %>
    </ul>
    
</body>
</html>