<!DOCTYPE html>
<html>
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="vendors/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="vendors/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="vendors/images/favicon-16x16.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="resources/css/Elements/core.css">
	<link rel="stylesheet" type="text/css" href="resources/css/Elements/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/Elements/style.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>

    <link rel="icon" href="resources/Imagenes/usuario.png" type="image/png" />
      <link rel="stylesheet" href="resources/css/Panel/bootstrap.min.css" />
      <link rel="stylesheet" href="resources/css/Panel/style.css" />
      <link rel="stylesheet" href="resources/css/Panel/responsive.css" />
      <link rel="stylesheet" href="resources/css/Panel/colors.css" />
      <link rel="stylesheet" href="resources/css/Panel/bootstrap-select.css" />
      <link rel="stylesheet" href="resources/css/Panel/perfect-scrollbar.css" />
      <link rel="stylesheet" href="resources/css/Panel/custom.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body class="inner_page widgets">
    <%- include('./menu') %>
	<div class="mobile-menu-overlay"></div>
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="title">
								<h4>Cards Hover</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Mis proyectos</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>	
				<div class="pd-20 card-box mb-30">

				<!-- Slide Bottom effect -->
				<h5 class="h4 text-blue mb-10">Lista de proyectos</h5>
				<p class="mb-30"></p>
				<div class="row clearfix">
					<!-- -->
					<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
						<div class="da-card">
							<div class="da-card-photo">
								<img src="resources/Imagenes/carpeta.jpg" alt="">
								<div class="da-overlay da-slide-bottom">
									<div class="da-social">
										<ul class="clearfix">
											<label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sequi deserunt eum ad modi libero, atque est repellat officiis quas quis sunt cum! Sit, aliquid quod. Fuga quis nisi voluptatibus!</label>
										</ul>
									</div>
								</div>
							</div>
							<div class="da-card-content">
								<h5 class="h5 mb-10">Software libre</h5>
								<p class="mb-0">Lorem ipsum dolor sit amet</p>
							</div>
						</div>
					</div>
					<!-- -->
				</div>
			</div>
			
		</div>
	</div>
	<!-- js -->

    <script src="js/core.js"></script>
	<script src="js/script.min.js"></script>
	<script src="js/process.js"></script>
	<script src="js/layout-settings.js"></script>
</body>
</html>