<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar</title>

    <link rel="stylesheet" type="text/css" href="resources/css/Elements/core.css">
	<link rel="stylesheet" type="text/css" href="resources/css/Elements/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/Elements/jquery.steps.css">
	<link rel="stylesheet" type="text/css" href="resources/css/Elements/style.css">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

</head>
<body class="inner_page widgets">
    <%- include('../menu') %>
	<!--contenedor formularios-->
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Crear proyecto</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/home">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Nuevo proyecto</li>
								</ol>
							</nav>
						</div>
						<div class="col-md-6 col-sm-12 text-right">
							<div class="dropdown">
								<a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
									Noviembre 2022
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Export List</a>
									<a class="dropdown-item" href="#">Policies</a>
									<a class="dropdown-item" href="#">View Assets</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!---->
    <div class="pd-20 card-box mb-30">
        
        <!--class="tab-wizard wizard-circle wizard vertical" -->
        <div class="wizard-content">
            <form action="/create" method="POST"  enctype="multipart/form-data">
                <div class="clearfix">
                    <h4 class="text-blue h4"> Nuevo proyecto</h4>
                    <input type="text" class="form-control" name="nombre"  placeholder="Nombre del proyecto">
                </div>
                <br>
                <h5>Analisis</h5>
                <section>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ducumentos 1</label>
                                <div class="dropzone">
                                    <div class="fallback">
                                        <input type="file" name="myFiles" accept=".pdf" />
                                    </div>
                                </div>
                            </div>
                            </div>	
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ducumentos 2</label>
                                    <div class="dropzone" >
                                        <div class="fallback">
                                            <input type="file" name="myFiles" accept=".pdf" />
                                        </div>
                                    </div>
                                </div>									
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ducumentos 3</label>
                                <div class="dropzone">
                                    <div class="fallback">
                                        <input type="file" name="myFiles" accept=".pdf" />
                                    </div>
                                </div>
                            </div>									
                    </div>
                    </div>
                </section>
                <!-- Step 2 -->
                
                <h5>Diseño</h5>
                <section>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ducumentos 1</label>
                                <div class="dropzone">
                                    <div class="fallback">
                                        <input type="file" name="myFiles" accept=".pdf" />
                                    </div>
                                </div>
                            </div>
                            </div>	
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ducumentos 2</label>
                                    <div class="dropzone" >
                                        <div class="fallback">
                                            <input type="file" name="myFiles" accept=".pdf" />
                                        </div>
                                    </div>
                                </div>									
                        </div>
                        
                    </div>
                </section>
                <!--otro-->
                <h5>Produccion</h5>
                <section>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ducumentos 1</label>
                                <div class="dropzone">
                                    <div class="fallback">
                                        <input type="file" name="myFiles" accept=".pdf" />
                                    </div>
                                </div>
                            </div>
                            </div>	
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ducumentos 2</label>
                                    <div class="dropzone" >
                                        <div class="fallback">
                                            <input type="file" name="myFiles" accept=".pdf" />
                                        </div>
                                    </div>
                                </div>									
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ducumentos 3</label>
                                <div class="dropzone">
                                    <div class="fallback">
                                        <input type="file" name="myFiles" accept=".pdf" />
                                    </div>
                                </div>
                            </div>									
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ducumentos 4</label>
                            <div class="dropzone">
                                <div class="fallback">
                                    <input type="file" name="myFiles" accept=".pdf" />
                                </div>
                            </div>
                        </div>									
                </div>
                    </div>
                </section>
                <!--otro-->
                <h5>Post entrega</h5>
                <section>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ducumentos 1</label>
                                <div class="dropzone">
                                    <div class="fallback">
                                        <input type="file" name="myFiles" accept=".pdf" />
                                    </div>
                                </div>
                            </div>
                        </div>	
                    </div>
                </section>
                <h5>Descripcion</h5>
                <section>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="dropzone">
                                    <div class="fallback">
                                        <textarea class="form-control"  placeholder="opcional" name="descripcion"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>	
                    </div>
                   
                </section>
                
                <input type="submit" value="Crear proyecto"/>
            </form>
        </div>
    </div>

    <script src="js/core.js"></script>
	<script src="js/script.min.js"></script>
	<script src="js/process.js"></script>
	<script src="js/layout-settings.js"></script>
	<script src="js/jquery.steps.js"></script>
	<script src="js/steps-setting.js"></script>
</body>

</html>