<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Homes</title>	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="resources/css/Elements/core.css">
	<link rel="stylesheet" type="text/css" href="resources/css/Elements/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/Elements/style.css">	
	
</head>
<body class="inner_page widgets">
    <%- include('../menu') %>
	<div class="mobile-menu-overlay"></div>
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="title">
								<h4>Cards Hover</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Mis proyectos</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>	
				<div class="pd-20 card-box mb-30">
				<!-- Slide Bottom effect -->
				<h5 class="h4 text-blue mb-10">Lista de proyectos</h5>
				<form action="/eliminar" method="POST" class="">
					<div class="">
					   <input type="text" placeholder="Buscar nombre" name="nombre">
					   <button class="fa fa-search" ></button><!--<i class="fa fa-search"></i>-->
					</div>
				

				<p class="mb-30"></p>
				<div class="row clearfix">
					<!-- -->
					<% contacts.forEach(function(proyecto) { %>
					<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
						
						<div class="da-card">
							<div class="da-card-photo">
								<img src="resources/Imagenes/carpeta.jpg" alt="">
								<div class="da-overlay da-slide-bottom">
									<div class="da-social">
										<ul class="clearfix">
                                            <label>eliminar</label>
											<a href="#" onclick="fd('<%=proyecto.id%>')">  
										</ul>
									</div>
								</div>
							</div>
							<div class="da-card-content">
								<h5 class="h5 mb-10"><%= proyecto.nombre %></h5>
								<p class="mb-0">Descripcion</p>
							</div>
						</div>
					</div>
					<% }); %>
					<!-- -->
				</div>
			</form>
			</div>
			
		</div>
	</div>
	<!-- js -->

    <script src="js/core.js"></script>
	<script src="js/script.min.js"></script>
	<script src="js/process.js"></script>
	<script src="js/layout-settings.js"></script>
	<script>
		function fd(id){
		if (confirm("¿Seguro que quiere eliminar?") == true) {
		window.location='/confirmar/'+id
		} 
	}
	</script>
	
    
</body>
</html>