<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <title>login</title>
      
      <link rel="stylesheet" href="resources/css/Panel/bootstrap.min.css" />
      <link rel="stylesheet" href="resources/css/Panel/style.css" />
      <link rel="stylesheet" href="resources/css/Panel/responsive.css" />



   </head>
   <body class="inner_page login">
      <div class="full_container">
         <div class="container">
            <div class="center verticle_center full_height">
               <div class="login_section">
                  <div class="logo_login">
                     <div class="center">
                      <label width="210" style="font-size: 60pt;" >Inicio sesion</label>

                     </div>
                  </div>
                  <div class="login_form">
                     <form action="/login" method="POST">
                        <fieldset>
                           <div class="field">
                              <label class="label_field">Correo</label>
                              <input type="email" name="email" placeholder="Email" />
                           </div>
                           <div class="field">
                              <label class="label_field">Contraseña</label>
                              <input type="password" name="password" placeholder="Password" />
                           </div>
                           <br>
                           <div class="field margin_0">
                              <label class="label_field hidden">hidden label</label>
                              <button class="main_bt">Ingresar</button>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
   </body>
</html>